@font-face {    
    font-family: 'fraktion_regular';
    src: url(../fraktionmono/fraktionmono-regular-webfont.woff) format('woff'),
         url(../fraktionmono/fraktionmono-regular-webfont.woff2) format('woff2');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {    
    font-family: 'fraktion_italic';
    src: url(../fraktionmono/fraktionmono-italic-webfont.woff) format('woff'),
         url(../fraktionmono/fraktionmono-italic-webfont.woff2) format('woff2');
    font-weight: normal;
    font-style: normal;
  }
  
  
  @font-face {    
    font-family: 'fraktion_bold';
    src: url(../fraktionmono/fraktionmono-bold-webfont.woff) format('woff'),
         url(../fraktionmono/fraktionmono-bold-webfont.woff2) format('woff2');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {    
    font-family: 'fraktion_bold_italic';
    src: url(../fraktionmono/fraktionmono-bolditalic-webfont.woff) format('woff'),
         url(../fraktionmono/fraktionmono-bolditalic-webfont.woff2) format('woff2');
    font-weight: normal;
    font-style: normal;
  }

body {
    background-color:black;
    margin:0px;
}

.container {
    display:flex;
    flex-direction:row;
    justify-content:center;
    margin-top:20vh;
    overflow:hidden;
}

.container2 {
    display:flex;
    flex-direction:row;
    justify-content:center;
    margin:0px;
}

.item {
    margin-top:0px;
    margin:10px;
    width:250px;
    height:375px;
    border:white solid 2px;
    overflow-x:hidden;
}

.item:hover {
    border:red solid 2px;
    transition:ease-in-out 1s;
}

.item::-webkit-scrollbar{
    width:.75vw;
}

.item::-webkit-scrollbar-track {
    background:red;
}

.item::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background:transparent;
}

.item::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
    background:white;
}

.item::-webkit-scrollbar-thumb:hover {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
    background:red;
    transition:ease-in-out .5s;
}


.item2 {
    display:flex;
    width:250px;
    height:375px;
    background-color:pink;
    justify-content:center;
}

iframe {
    border:none;
    width:100%;
    height:100%;
}

#childone{
    background: linear-gradient(180deg, #FFFFFF 0%, #000000 46.88%);
    height:690px;
}

#childtwo{
    background: linear-gradient(180deg, #FFFFFF 0%, #000000 46.88%);
    height:660px;
}

#childthree{
    background: linear-gradient(180deg, #FFFFFF 0%, #000000 46.88%);
    height:930px;
}

.childtalk {
    font-family:'fraktion_regular',serif;
    color:white;
    font-size:1.2em;
    width:15vw;
    margin-top:65vh;
}

a {
    color:red;
  }
