
@font-face {    
    font-family: 'fraktion_regular';
    src: url(../fraktionmono/fraktionmono-regular-webfont.woff) format('woff'),
         url(../fraktionmono/fraktionmono-regular-webfont.woff2) format('woff2');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {    
    font-family: 'fraktion_italic';
    src: url(../fraktionmono/fraktionmono-italic-webfont.woff) format('woff'),
         url(../fraktionmono/fraktionmono-italic-webfont.woff2) format('woff2');
    font-weight: normal;
    font-style: normal;
  }
  
  
  @font-face {    
    font-family: 'fraktion_bold';
    src: url(../fraktionmono/fraktionmono-bold-webfont.woff) format('woff'),
         url(../fraktionmono/fraktionmono-bold-webfont.woff2) format('woff2');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {    
    font-family: 'fraktion_bold_italic';
    src: url(../fraktionmono/fraktionmono-bolditalic-webfont.woff) format('woff'),
         url(../fraktionmono/fraktionmono-bolditalic-webfont.woff2) format('woff2');
    font-weight: normal;
    font-style: normal;
  }

body {
    background-color:black;
}

body::-webkit-scrollbar{
    width:.75vw;
}

body::-webkit-scrollbar:horizontal{
    height:1vh;
}

body::-webkit-scrollbar-track {
    background:red;
}

body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background:transparent;
}

body::-webkit-scrollbar-thumb{
    border-radius: 10px;
    box-shadow: inset 0 0 .5vw red;
    background:white;
    transition:ease-in-out .5s;
}

.grid {
    display:grid;
    grid-template-columns: 30vw 40vw 30vw 30vw;
    grid-template-rows: 40vh 40vh 40vh 40vh;
    column-gap:15vw;
    row-gap:15vh;
    margin:5%;
}

.griditem {
    justify-self:center;
}

.verticalombre {
    background: linear-gradient(180deg, red 0%, #f1c1c1 100%);
}

.horizontalombre {
    background: linear-gradient(90deg, red 0%, #DA9898 100%);
}

.square {
    width:15vw;
    height:30vh;
}

.bigrect {
    width:40vw;
    height:45vh;
}

.smallrect{
    width:20vw;
    height:46vh;
}

.vertrect {
    width:20vw;
    height:30vh;
}

.horzrect {
    width:30vw;
    height:15vh;
}

.text {
    align-self:center;
    color: #ffffff;
    font-size:1.3em;
    font-family:'fraktion_regular',sans-serif;
    margin-top:20%;
}

a {
    color:red;
}

.container{
    margin-left:25vw;
    margin-top:5vh;
    width:45vw;
    height:90vh;
    border:white solid 2px;
    display:flex;
    flex-direction:column;
    overflow-y:scroll;
    overflow-x:hidden;
}

.container::-webkit-scrollbar{
    width:.75vw;
}

.container::-webkit-scrollbar-track {
    background:red;
}

.container::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background:transparent;
}

.container::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
    background:red;
}


.container-item {
    width:40vw;
    padding:2.5vw;
}

.gate {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) -7.07%, rgba(35, 0, 0, 0.762) 55.39%, red 81.04%);
}

.doors {
    width:40vw;
    height:70vh;
    border:red solid 2px;
    display:flex;
    flex-direction:row;
    overflow:hidden;
}

.door {
    width:20vw;
    height:70vh;
    margin:0px;
    background:linear-gradient(180deg, #FF5858 0%, #f1c1c1 100%);
}

.doors:hover ~ .right {
   transform:translateX(100%)
}

.doors:hover ~ .left {
    transform:translateX(-100%)
}

.story {
    display:flex;
    flex-direction:row;
    width:50vw;
    height:30vh;
}

.storyone {
    border-right: white solid 2px;
    border-top:white solid 2px;
    border-bottom:white solid 2px;
    color: #ffffff;
    width:25vw;
    height:fit-content;
}

.storytwo {
    border-top:white solid 2px;
    border-bottom:white solid 2px;
    width:30vw;
    height:fit-content;
}

.storytext{
    width:20vw;
    margin-left:2.5vw;
    margin-right:2.5vw;
    margin-top:5vh;
    margin-bottom:3vh;
    height:30vh;
    color:white;
    font-family:'fraktion_regular',sans-serif;
}

.newconvo {
    overflow-y:scroll;
    overflow-x:hidden;
    height:90vh;
    width:50vw;
    margin-left:25vw;
    margin-top:5vh;
}

.letter{
    width:50vw;
    height:90vh;
    border:white solid 2px;
    background:linear-gradient(180deg, red 0%, black 100%);
    display:flex;
    flex-direction:column;
    overflow-y:scroll;
    overflow-x:hidden;
}

.letter::-webkit-scrollbar{
    width:1vw;
    border-left: white solid 2px;
}

.letter::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background:transparent;
}

.letter::-webkit-scrollbar-thumb {
    height:2vh;
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
    background:red;
}

.letter-item {
    margin-top:10vh;
    margin-bottom:10vh;
    width:45vw;
    font-family:'fraktion_regular',sans-serif;
    font-size:1em;
    color:white;
    margin-left:2vw;
}

#last {
    margin-top:20vh;
}

.red {
    color:red;
    font-weight:bold;
}

.link {
    text-decoration:none;
    color:white;
}

@media screen and (max-width: 1024px){
    .square {
        width:10vw;
        height:25vh;
    }
    
    .bigrect {
        width:40vw;
        height:40vh;
    }
    
    .smallrect{
        width:20vw;
        height:46vh;
    }
    
    .vertrect {
        width:20vw;
        height:30vh;
    }
    
    .horzrect {
        width:30vw;
        height:15vh;
    }

    .grid > .text{
        width:50vw;
    }

    .text {
        align-self:center;
        color: #ffffff;
        font-size:1em;
        font-family:'fraktion_regular',sans-serif;
        margin-top:5vh;
    }


    .story {
        display:flex;
        flex-direction:row;
        width:75vw;
        height:fit-content;
    }
    
    .storyone {
        border-right: white solid 2px;
        border-top:white solid 2px;
        border-bottom:white solid 2px;
        color: #ffffff;
        width:37.5vw;
        height:fit-content;
    }
    
    .storytwo {
        border-top:white solid 2px;
        border-bottom:white solid 2px;
        width:37.5vw;
        height:fit-content;
    }
    
    .storytext{
        width:34vw;
        margin-left:1vw;
        margin-right:2.5vw;
        margin-top:1vh;
        margin-bottom:3vh;
        font-size:1em;
        height:40vh;
        color:white;
        font-family:'fraktion_regular',sans-serif;
    }
    
    .newconvo {
        overflow-y:scroll;
        overflow-x:hidden;
        height:90vh;
        width:100vw;
        margin-left:10vw;
        margin-top:5vh;
    }
    
    .letter{
        width:75vw;
        height:90vh;
        border:white solid 2px;
        background:linear-gradient(180deg, red 0%, black 100%);
        display:flex;
        flex-direction:column;
        overflow-y:scroll;
        overflow-x:hidden;
    }
    
    .letter::-webkit-scrollbar{
        width:2vw;
        border-left: white solid 2px;
    }
    
    .letter::-webkit-scrollbar-track {
        box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        border-radius: 10px;
        background:transparent;
    }
    
    .letter::-webkit-scrollbar-thumb {
        height:2vh;
        border-radius: 10px;
        box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
        background:red;
    }
    
    .letter-item {
        margin-top:10vh;
        margin-bottom:10vh;
        width:70vw;
        font-family:'fraktion_regular',sans-serif;
        font-size:1em;
        color:white;
        margin-left:2vw;
    }
    
    #last {
        margin-top:20vh;
    }
    
    .red {
        color:red;
        font-weight:bold;
    }
    
    .link {
        text-decoration:none;
        color:white;
    }
 }

@media screen and (max-width: 760px){
body::-webkit-scrollbar{
    width:.75vw;
}

body::-webkit-scrollbar:horizontal{
    height:1vh;
}

body::-webkit-scrollbar-track {
    background:red;
}

body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background:transparent;
}

body::-webkit-scrollbar-thumb{
    border-radius: 10px;
    box-shadow: inset 0 0 .5vw red;
    background:red;
    transition:ease-in-out .5s;
}

.grid {
    display:grid;
    grid-template-columns: 40vw 60vw 40vw 40vw;
    grid-template-rows: 10vh 10vh 10vh 10vh;
    column-gap:30vw;
    row-gap:40vh;
    margin:5%;
}

    .griditem {
        justify-self:center;
 }

    .verticalombre {
        background: linear-gradient(180deg, red 0%, #f1c1c1 100%);
}

    .horizontalombre {
        background: linear-gradient(90deg, red 0%, #DA9898 100%);
}

    .square {
        width:15vw;
        height:30vh;
}

    .bigrect {
        width:40vw;
        height:30vh;
}

    .smallrect{
        width:20vw;
        height:46vh;
}

.griditem:nth-child(17){
    width:80vw;
    margin-left:30vw;
}

.griditem:nth-child(23){
    width:50vw;
}

    .vertrect {
        width:20vw;
        height:30vh;
}

    .horzrect {
        width:40vw;
        height:15vh;
}

    .text {
        align-self:center;
        color: #ffffff;
        font-size:1em;
        font-family:'fraktion_regular',sans-serif;
        margin-top:15vh;
}

    .container{
        margin-left:10vw;
        margin-top:5vh;
        width:75vw;
        height:90vh;
        border:white solid 2px;
        display:flex;
        flex-direction:column;
        overflow-y:scroll;
        overflow-x:hidden;
    }

    .container::-webkit-scrollbar{
        width:2vw;
    }

    .container::-webkit-scrollbar-track {
        background:red;
    }

    .container::-webkit-scrollbar-track {
        box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        border-radius: 10px;
        background:transparent;
    }

    .container::-webkit-scrollbar-thumb {
        border-radius: 10px;
        box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
        background:red;
    }


    .container-item {
        width:69vw;
        padding:2vw;
    }

    .story {
        display:flex;
        flex-direction:row;
        width:90vw;
        height:fit-content;
    }
    
    .storyone {
        border-right: white solid 2px;
        border-top:white solid 2px;
        border-bottom:white solid 2px;
        color: #ffffff;
        width:45vw;
        height:fit-content;
    }
    
    .storytwo {
        border-top:white solid 2px;
        border-bottom:white solid 2px;
        width:45vw;
        height:fit-content;
    }
    
    .storytext{
        width:43vw;
        margin-left:1vw;
        margin-right:2.5vw;
        margin-top:1vh;
        margin-bottom:3vh;
        font-size:.85em;
        height:40vh;
        color:white;
        font-family:'fraktion_regular',sans-serif;
    }
    
    .newconvo {
        overflow-y:scroll;
        overflow-x:hidden;
        height:90vh;
        width:100vw;
        margin-left:1vw;
        margin-top:5vh;
    }
    
    .letter{
        width:90vw;
        height:90vh;
        border:white solid 2px;
        background:linear-gradient(180deg, red 0%, black 100%);
        display:flex;
        flex-direction:column;
        overflow-y:scroll;
        overflow-x:hidden;
    }
    
    .letter::-webkit-scrollbar{
        width:2vw;
        border-left: white solid 2px;
    }
    
    .letter::-webkit-scrollbar-track {
        box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        border-radius: 10px;
        background:transparent;
    }
    
    .letter::-webkit-scrollbar-thumb {
        height:2vh;
        border-radius: 10px;
        box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
        background:red;
    }
    
    .letter-item {
        margin-top:10vh;
        margin-bottom:10vh;
        width:86vw;
        font-family:'fraktion_regular',sans-serif;
        font-size:1em;
        color:white;
        margin-left:2vw;
    }
    
    #last {
        margin-top:20vh;
    }
    
    .red {
        color:red;
        font-weight:bold;
    }
    
    .link {
        text-decoration:none;
        color:white;
    }
}

