@font-face {    
    font-family: 'fraktion_regular';
    src: url(../fraktionmono/fraktionmono-regular-webfont.woff) format('woff'),
         url(../fraktionmono/fraktionmono-regular-webfont.woff2) format('woff2');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {    
    font-family: 'fraktion_italic';
    src: url(../fraktionmono/fraktionmono-italic-webfont.woff) format('woff'),
         url(../fraktionmono/fraktionmono-italic-webfont.woff2) format('woff2');
    font-weight: normal;
    font-style: normal;
  }
  
  
  @font-face {    
    font-family: 'fraktion_bold';
    src: url(../fraktionmono/fraktionmono-bold-webfont.woff) format('woff'),
         url(../fraktionmono/fraktionmono-bold-webfont.woff2) format('woff2');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {    
    font-family: 'fraktion_bold_italic';
    src: url(../fraktionmono/fraktionmono-bolditalic-webfont.woff) format('woff'),
         url(../fraktionmono/fraktionmono-bolditalic-webfont.woff2) format('woff2');
    font-weight: normal;
    font-style: normal;
  }

body {
    background-color:black;
}


.call {
    width:460px;
    margin-top:0px;
    margin-left:2vw;
    font-family:'fraktion_regular',sans-serif;
    font-size:2em;
    color:rgb(255, 255, 255);
}

#first {
    margin:0px;
    width:500px;
    height:2000px;
    background: linear-gradient(180deg, #FF5F5F 0%, rgba(255, 255, 255, 0) 100%);
}

#second {
    margin-top:700px;
}

.red {
    color:rgb(236, 67, 67);
    margin-left:2vw;
    width:460px;
    font-family:'fraktion_regular',sans-serif;
    font-size:2em;
}


#door {
    width:490px;
    height:70vh;
    border:white solid 2px;
    overflow-x:hidden;
    margin-left:450px;
    margin-top:100px;
}

.container {
    display:flex;
    flex-direction:row;
    justify-content: space-around;
    margin-top:200px;
}

.pocket {
    width:300px;
    height:400px;
    border: white solid 2px;
}

#paragraph {
    margin-top:200px;
    width:700px;
    height:300px;
}

ul {
    list-style:none;
    margin-top:40px;
}

.stairs {
    width:413px;
    height:104px;
    background: linear-gradient(180deg, #FF5555 0%, rgba(196, 196, 196, 0) 100%);
}

li {
    margin:30px;
}

#growing {
    width:400px;
    height:200px;
    border: 5px solid rgb(244, 57, 57);
    animation: grow 20s 1 forwards;
    animation-play-state:paused;
    margin-top:50px;
    margin-left:70px;
}

#growing:hover {
    width:400px;
    animation-play-state:running;
    border: 5px solid rgb(244, 57, 57);
    margin-top:50px;
    margin-left:70px;
}

p {
    width:380px;
    font-family:'fraktion_regular',sans-serif;
    font-size:1em;
    margin: 20px auto;
    color:rgb(255, 255, 255);
}

.station {
    margin-top:1750px;
    z-index:2;
}

.station:hover{
    animation-play-state:running;
}
.station:hover~#trainstation {
    animation: appear 2s 1 forwards;
}

@keyframes grow{
    0%{
        height:200px;
    }
    100% {
        height:2000px;
    }
}

.trainstation {
    margin-top:-50vh;
    margin-left:500px;
    width:870px;
    height:400px;
    z-index:2;
    animation:appear 5s infinite alternate; 
    animation-play-state:paused;
}

.trainstation:hover {
    animation-play-state:running;
    animation:appear 5s infinite alternate; 
}
animation:appear 5s infinite alternate;

@keyframes appear {
    0%{
        transform:opacity(0%);
    }
    100%{
        transform:opacity(100%);
    }
}

@font-face {    
    font-family: 'fraktion_regular';
    src: url(../fraktionmono/fraktionmono-regular-webfont.woff) format('woff'),
         url(../fraktionmono/fraktionmono-regular-webfont.woff2) format('woff2');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {    
    font-family: 'fraktion_italic';
    src: url(../fraktionmono/fraktionmono-italic-webfont.woff) format('woff'),
         url(../fraktionmono/fraktionmono-italic-webfont.woff2) format('woff2');
    font-weight: normal;
    font-style: normal;
  }
  
  
  @font-face {    
    font-family: 'fraktion_bold';
    src: url(../fraktionmono/fraktionmono-bold-webfont.woff) format('woff'),
         url(../fraktionmono/fraktionmono-bold-webfont.woff2) format('woff2');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {    
    font-family: 'fraktion_bold_italic';
    src: url(../fraktionmono/fraktionmono-bolditalic-webfont.woff) format('woff'),
         url(../fraktionmono/fraktionmono-bolditalic-webfont.woff2) format('woff2');
    font-weight: normal;
    font-style: normal;
  }

body {
    background-color:black;
    margin:0px;
}

#traincontainer {
    width:3000px;
    height:400px;
}

#train {
    background:linear-gradient(180deg, #FF5555 0%, #FFFFFF 100%);;
    width:3000px;
    height:275px;
    display:flex;
    flex-direction:row;
}

#sidewalk {
    background-color:rgb(0, 0, 0);
    width:3000px;
    height:125px;
    display:flex;
    flex-direction:row;
}

.traintalk {
    width:300px;
    font-family:'fraktion_regular',sans-serif;
    font-size:1em;
    color:black;
}


.sidewalkoff {
    width:200px;
    font-family:'fraktion_regular',sans-serif;
    font-size:1em;
    color:rgb(255, 255, 255);
}


body {
    background-color:black;
    display:inline-block;
    margin:0px;
}
@font-face {    
  font-family: 'fraktion_regular';
  src: url(../fraktionmono/fraktionmono-regular-webfont.woff) format('woff'),
       url(../fraktionmono/fraktionmono-regular-webfont.woff2) format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {    
  font-family: 'fraktion_italic';
  src: url(../fraktionmono/fraktionmono-italic-webfont.woff) format('woff'),
       url(../fraktionmono/fraktionmono-italic-webfont.woff2) format('woff2');
  font-weight: normal;
  font-style: normal;
}


@font-face {    
  font-family: 'fraktion_bold';
  src: url(../fraktionmono/fraktionmono-bold-webfont.woff) format('woff'),
       url(../fraktionmono/fraktionmono-bold-webfont.woff2) format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {    
  font-family: 'fraktion_bold_italic';
  src: url(../fraktionmono/fraktionmono-bolditalic-webfont.woff) format('woff'),
       url(../fraktionmono/fraktionmono-bolditalic-webfont.woff2) format('woff2');
  font-weight: normal;
  font-style: normal;
}


.watch {
    opacity:0;
}

.watch:hover {
    opacity:100;
    transition: ease-in 5s ease-out 50s;
}

.chain {
  opacity:0;
}

.chain:hover {
  opacity:100;
  transition: ease-in 5s ease-out 50s;
}

.ring {
  opacity:0;
}

.ring:hover {
  opacity:100;
  transition: ease-in 5s ease-out 50s;
}


.ring:hover~.ringreveal{
  opacity:100;
  transition: ease-in 5s ease-out 50s;
}

.notebook {
  opacity:0;
}

.notebook:hover {
  opacity:100;
  transition: ease-in 5s ease-out 50s;
}

.coin {
  opacity:0;
}

.coin:hover {
  opacity:100;
  transition: ease-in 5s ease-out 50s;
}

.letter {
  opacity:0;
}

.letter:hover {
  opacity:100;
  transition: ease-in 5s ease-out 50s;
}

