@font-face {    
    font-family: 'fraktion_regular';
    src: url(../fraktionmono/fraktionmono-regular-webfont.woff) format('woff'),
         url(../fraktionmono/fraktionmono-regular-webfont.woff2) format('woff2');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {    
    font-family: 'fraktion_italic';
    src: url(../fraktionmono/fraktionmono-italic-webfont.woff) format('woff'),
         url(../fraktionmono/fraktionmono-italic-webfont.woff2) format('woff2');
    font-weight: normal;
    font-style: normal;
  }
  
  
  @font-face {    
    font-family: 'fraktion_bold';
    src: url(../fraktionmono/fraktionmono-bold-webfont.woff) format('woff'),
         url(../fraktionmono/fraktionmono-bold-webfont.woff2) format('woff2');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {    
    font-family: 'fraktion_bold_italic';
    src: url(../fraktionmono/fraktionmono-bolditalic-webfont.woff) format('woff'),
         url(../fraktionmono/fraktionmono-bolditalic-webfont.woff2) format('woff2');
    font-weight: normal;
    font-style: normal;
  }

body {
    background-color:black;
}


.call {
    width:460px;
    margin-top:0px;
    margin-left:2vw;
    font-family:'fraktion_regular',sans-serif;
    font-size:2em;
    color:rgb(255, 255, 255);
}

#first {
    margin:0px;
    width:500px;
    height:2000px;
    background: linear-gradient(180deg, #FF5F5F 0%, rgba(255, 255, 255, 0) 100%);
}

#second {
    margin-top:700px;
}

.red {
    color:rgb(236, 67, 67);
    margin-left:2vw;
    width:460px;
    font-family:'fraktion_regular',sans-serif;
    font-size:2em;
}


#door {
    width:490px;
    height:70vh;
    border:white solid 2px;
    overflow-x:hidden;
    margin-left:450px;
    margin-top:100px;
}

.container {
    display:flex;
    flex-direction:row;
    justify-content: space-around;
    margin-top:200px;
}

.pocket {
    width:300px;
    height:400px;
    border: white solid 2px;
    cursor:pointer;
}

#paragraph {
    margin-top:200px;
    width:700px;
    height:300px;
}

ul {
    list-style:none;
    padding:0;
}

.stairs {
    width:auto;
    height:104px;
    margin-top:10vh;
    background: linear-gradient(180deg, #FF5555 0%, rgba(196, 196, 196, 0) 100%);
}

#laststair {
  background: linear-gradient(180deg, #ff0000 0%, rgba(0, 0, 0, 0) 100%);
  margin-bottom:5vh;
}

#growing {
    background-color:black;
    font-size:.9em;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
}

.car {
    height:200px;
    margin-left:10%;
}

.station {
    width:500px;
    margin-left:30%;
}

p {
    width:380px;
    font-family:'fraktion_regular',sans-serif;
    font-size:1.2em;
    margin: 20px auto;
    color:rgb(255, 255, 255);
}


.trainstation {
    width:870px;
    height:400px;
}


body {
    background-color:black;
    margin:0px;
}

#traincontainer {
    width:90%;
    height:400px;
    border: white solid 2px;
    margin-top:15%;
    margin-left:5%;
    overflow-x:scroll;
    overflow-y:hidden;
    display:flex;
    flex-direction:row;
}

#ride {
    display:flex;
    flex-direction:column;
    margin-left:40%;
}

#train {
    background:linear-gradient(180deg, #FF5555 0%, #FFFFFF 100%);
    width:300%;
    height:275px;
    display:flex;
    flex-direction:row;
}

#sidewalk {
    background-color:rgb(0, 0, 0);
    width:300%;
    height:125px;
    display:flex;
    flex-direction:row;
}

.traintalk {
    width:300px;
    font-family:'fraktion_regular',sans-serif;
    font-size:1em;
    margin-top:20px;
    color:black;
}

.traintalk:nth-child(1) {
    margin-left:5%;
}

.traintalk:nth-child(2) {
    margin-left:10%;
}

.traintalk:nth-child(3) {
    margin-left:20%;
}

.traintalk:nth-child(4) {
    margin-left:15%;
}

.traintalk:nth-child(5) {
    margin-left:8%;
}


.sidewalkoff {
    width:400px;
    font-family:'fraktion_regular',sans-serif;
    font-size:1em;
    margin-top:5px;
    color:rgb(255, 255, 255);
}

.sidewalkoff:nth-child(1){
    margin-left:35%;
}

.sidewalkoff:nth-child(2){
    margin-left:50%;
}

.pink {
  color:red;
}

a {
  color:red;
}

#block {
    background-color:black;
    height:auto;
    width:200%;
}

.pocket>p{
opacity:0;
margin-left:1vw;
margin-top:5vh;
margin-bottom:2vh;
}

.pocket>p:hover{
opacity:100;
transition-duration:1s;
}

.revolver{
  color:#ff4a4a;
  cursor:pointer;
}


