@font-face {    
    font-family: 'fraktion_regular';
    src: url(../fraktionmono/fraktionmono-regular-webfont.woff) format('woff'),
         url(../fraktionmono/fraktionmono-regular-webfont.woff2) format('woff2');
    font-weight: normal;
    font-style: normal;
  }
  
body{
    background-color:black;
    overflow-x:scroll;
    display:flex;
    flex-direction:row;
}

.library {
    display:flex;
    flex-direction: column;
    width:70vw;
    height:90vh;
    margin-top:5vh;
    margin-left:15vw;
    border:pink solid 2px;
}

.libraryrow {
    height:30vh;
    width:70vw;
    border-bottom:pink solid 2px;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
}

.text {
    margin-top:8vh;
    width:70vw;
    height:30vh;
    font-family:'fraktion_regular',sans-serif;
    font-size:1em;
    color:white;
    justify-content: center;
    margin-left:5vw;
    margin-right:5vw;
}

.maincharacter{
    width:20vw;
    font-family:'fraktion_regular',sans-serif;
    font-size:1em;
    color:white;
    margin-left:2.5vw;
    margin-right:2.5vw;
}

.stephen{
    width:20vw;
    font-family:'fraktion_regular',sans-serif;
    font-size:1em;
    color:white;
    margin-left:2.5vw;
    margin-right:2.5vw;
}

.maincharacter:nth-child(1) {
    margin-top:5vh;
}

.maincharacter:nth-child(2) {
    margin-top:5vh;
}

.maincharacter:nth-child(3) {
    margin-top:20vh;
}

.maincharacter:nth-child(4) {
    margin-top:130vh;
}

.maincharacter:nth-child(5) {
    margin-top:90vh;
}

.stephen:nth-child(1) {
    margin-top:55vh;
}

.stephen:nth-child(2) {
    margin-top:45vh;
}

.stephen:nth-child(3) {
    margin-top:20vh;
}

.stephen:nth-child(4) {
    margin-top:70vh;
}

.stephen:nth-child(6) {
    margin-top:35vh;
}

.stephen:nth-child(7) {
    margin-top:15vh;
}

.stephen:nth-child(8) {
    margin-top:20vh;
}

.stephen:nth-child(9) {
    margin-top:40vh;
}

.stephen:nth-child(10) {
    margin-top:5vh;
}

.red {
    color:red;
}

.book {
    margin-right:5vw;
    width:10vw;
    height:30vh;
    background: linear-gradient(180deg, #FFAB2E 0%, #906809 100%);
}


.book2{
    margin-left:5vw;
    width:10vw;
    height:30vh;
    background: linear-gradient(180deg, #FF2E47 0%, #FFC9C9 100%);
}

.book3{
    margin-left:5vw;
    width:10vw;
    height:30vh;
    background: linear-gradient(180deg, #2E36FF 0%, #C9CEFF 96.35%);
}

.recordplayer{
    width:30vw;
    height:10vh;
    margin-top:20vh;
    margin-right:5vw;
    background: linear-gradient(270deg, #78512D -17.14%, rgb(64, 41, 14) 100%);
}

.red {
    color:red;
}

.twocharacter {
    display:flex;
    flex-direction:row;
    border: pink solid 1px;
    width:80vw;
    height:80vh;
    overflow-y:scroll;
}

.convocontainer {
    margin-left:25vw;
    margin-top:10vh;
    height:80vh;
    overflow-y:scroll;
    overflow-x:hidden;
    display:flex;
    flex-direction:row;
    border: red solid 2px;
}

.conversation {
    width:25vw;
    height:641vh;
    border-right:white solid 1px;
    display:flex;
    flex-direction:column;
}

.conversation2 {
    width:25vw;
    height:640vh;
    border-left:white solid 1px;
    display:flex;
    flex-direction:column;
}

.dialogue {
    width:25vw;
    height:fit-content;
    border-right:white solid 1px;
    display:flex;
    flex-direction:column;
}

.dialogue2 {
    width:25vw;
    height:fit-content;
    border-left:white solid 1px;
    display:flex;
    flex-direction:column;
}


.bookshelf {
    width: 30vw;
    height:60vh;
    margin-top:-60vh;
    margin-left:170vw;
}

.bookshelf2 {
    width: 30vw;
    height:60vh;
    margin-left:80vw;
    margin-top:-60vh;
}

.drawer {
    border:white solid 2px;
    margin-top:10vh;
    width:25vw;
    height:45vh;
    padding:0;
    overflow:hidden;
}

.drawer>li {
    list-style: none;
    width:25vw;
    height:15vh;
    border-bottom: white solid 2px;
}

.drawer>li:hover {
    background-color:red;
    transition: 1s ease-in-out;
}

a {
    text-decoration:none;
    font-family:'fraktion_regular',sans-serif;
    font-size:2em;
    margin-left:5vw;
    color:black;
}

.letter {
    width:50vw;
    height:20vh;
    font-family:'fraktion_regular',sans-serif;
    color:white;
    font-size:1em;
    display:flex;
    flex-direction:column;
}

.maincharacter2{
    width:20vw;
    font-family:'fraktion_regular',sans-serif;
    font-size:1em;
    color:white;
    margin-left:2.5vw;
    margin-right:2.5vw;
}

.stephen2{
    width:20vw;
    font-family:'fraktion_regular',sans-serif;
    font-size:1em;
    color:white;
    margin-left:2.5vw;
    margin-right:2.5vw;
}

.maincharacter2:nth-child(1) {
    margin-top:5vh;
}

.maincharacter2:nth-child(2) {
    margin-top:130vh;
}

.maincharacter2:nth-child(3) {
    margin-top:30vh;
}

.maincharacter2:nth-child(4) {
    margin-top:5vh;
}

.maincharacter2:nth-child(5) {
    margin-top:220vh;
}

.stephen2:nth-child(1) {
    margin-top:55vh;
}

.stephen2:nth-child(2) {
    margin-top:30vh;
}

.stephen2:nth-child(3) {
    margin-top:35vh;
}

.stephen2:nth-child(4) {
    margin-top:10vh;
}

.stephen2:nth-child(5) {
    margin-top:60vh;
}

.mcfail{
    width:20vw;
    font-family:'fraktion_regular',sans-serif;
    font-size:1em;
    color:white;
    margin-left:2.5vw;
    margin-right:2.5vw;
}

.stephenfail{
    width:20vw;
    font-family:'fraktion_regular',sans-serif;
    font-size:1em;
    color:white;
    margin-left:2.5vw;
    margin-right:2.5vw;
}

.mcfail:nth-child(1) {
    margin-top:10vh;
}

.mcfail:nth-child(2) {
    margin-top:10vh;
}

.mcfail:nth-child(3) {
    margin-top:110vh;
}

.mcfail:nth-child(4) {
    margin-top:5vh;
    margin-bottom:5vh;
}

.stephenfail:nth-child(1){
    margin-top:110vh;
}

.tryagain {
    color:red;
    text-decoration:underline;
    font-size:2em;
    margin-left:0;
}

.mcdeath{
    width:20vw;
    font-family:'fraktion_regular',sans-serif;
    font-size:1em;
    color:white;
    margin-left:2.5vw;
    margin-right:2.5vw;
}

.stephendeath{
    width:20vw;
    font-family:'fraktion_regular',sans-serif;
    font-size:1em;
    color:white;
    margin-left:2.5vw;
    margin-right:2.5vw;
}

.mcdeath:nth-child(1) {
    margin-top:10vh;
}

.mcdeath:nth-child(2) {
    margin-top:10vh;
}

.mcdeath:nth-child(3) {
    margin-top:110vh;
}

.mcdeath:nth-child(4) {
    margin-top:5vh;
    margin-bottom:5vh;
}

.stephendeath:nth-child(1){
    margin-top:110vh;
}

.tryagain {
    color:red;
    text-decoration:underline;
    font-size:2em;
    margin-left:0;
}

.mctrue{
    width:20vw;
    font-family:'fraktion_regular',sans-serif;
    font-size:1em;
    color:white;
    margin-left:2.5vw;
    margin-right:2.5vw;
}

.stephentrue{
    width:20vw;
    font-family:'fraktion_regular',sans-serif;
    font-size:1em;
    color:white;
    margin-left:2.5vw;
    margin-right:2.5vw;
}

.mctrue:nth-child(1) {
    margin-top:10vh;
}

.mctrue:nth-child(2) {
    margin-top:10vh;
}

.mctrue:nth-child(3) {
    margin-top:110vh;
    margin-bottom:5vh;
}

.stephentrue:nth-child(1){
    margin-top:110vh;
}

.tryagain {
    color:red;
    text-decoration:underline;
    font-size:2em;
    margin-left:0;
}

.finallink {
    margin-left:0;
    font-size:1em;
    color:red;
    text-decoration:underline;
}