
  body {
    background-color:black;
    display:inline-block;
    margin:0px;
}
@font-face {    
  font-family: 'fraktion_regular';
  src: url(../fraktionmono/fraktionmono-regular-webfont.woff) format('woff'),
       url(../fraktionmono/fraktionmono-regular-webfont.woff2) format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {    
  font-family: 'fraktion_italic';
  src: url(../fraktionmono/fraktionmono-italic-webfont.woff) format('woff'),
       url(../fraktionmono/fraktionmono-italic-webfont.woff2) format('woff2');
  font-weight: normal;
  font-style: normal;
}


@font-face {    
  font-family: 'fraktion_bold';
  src: url(../fraktionmono/fraktionmono-bold-webfont.woff) format('woff'),
       url(../fraktionmono/fraktionmono-bold-webfont.woff2) format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {    
  font-family: 'fraktion_bold_italic';
  src: url(../fraktionmono/fraktionmono-bolditalic-webfont.woff) format('woff'),
       url(../fraktionmono/fraktionmono-bolditalic-webfont.woff2) format('woff2');
  font-weight: normal;
  font-style: normal;
}

p {
    width:480px;
    font-family:'fraktion_regular',sans-serif;
    font-size:1em;
    margin: 20px auto;
    color:rgb(255, 255, 255);
}

.watch {
    opacity:0;
}

.watch:hover {
    opacity:100;
    transition: ease-in 5s ease-out 50s;
}

.chain {
  opacity:0;
}

.chain:hover {
  opacity:100;
  transition: ease-in 5s ease-out 50s;
}

.ring {
  opacity:0;
}

.ring:hover {
  opacity:100;
  transition: ease-in 5s ease-out 50s;
}


.ring:hover~.ringreveal{
  opacity:100;
  transition: ease-in 5s ease-out 50s;
}

.notebook {
  opacity:0;
}

.notebook:hover {
  opacity:100;
  transition: ease-in 5s ease-out 50s;
}

.coin {
  opacity:0;
}

.coin:hover {
  opacity:100;
  transition: ease-in 5s ease-out 50s;
}

.letter {
  opacity:0;
}

.letter:hover {
  opacity:100;
  transition: ease-in 5s ease-out 50s;
}


.paragraph {
    width:700px;
}

@media screen and (max-width: 1024px){
  body {
      background-color:pink;
  }
}

@media screen and (max-width: 760px){
 body {
     background-color: purple;
 }
}

@media screen and (max-width: 400px){
  body {
      background-color:blue;
  }
}
