body {
    background-color: rgb(255, 255, 255);
    /* animation-name: color_change;
	animation-duration: 5s;
	animation-iteration-count: infinite;
    animation-direction: alternate; */
    margin-top:5vh;
}

@keyframes color_change {
    0% { background-color: rgb(45, 45, 129); }
    50% {background-color:rgb(133, 102, 255)}
	100% { background-color: rgb(102, 130, 255) }
}

.text {
    color:rgb(0, 0, 0);
    font-family:'Mazius-Italic' ,sans-serif;
    /* -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black; */
}

p{
    font-family:'Mazius',sans-serif;
    font-size:1.5em;
    width:35vw;
    margin-left:10vw;
}

h1{
    font-size:3em;
    margin-top:2em;
    margin-left:10vw;
    width:10em;
}

ul {
    margin:0vw;
    list-style-type:none;
    line-height: 120%;
    color:rgb(0, 0, 0);
    font-family:'Mazius-Italic' ,sans-serif;
    /* -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black; */
    font-size:20;
}

ul>li{
    display:inline-block;
    margin-right:2vw;
    margin-left:0vw;
}


a {
    text-decoration:none;
}

.image {
    width:500px;
    height:400px;
    border-style:none;
}

@font-face{
    font-family: "Mazius";
    src: url(../Mazius/MAZIUSREVIEW20.09-Regular.woff)format('woff'),
    url(../Mazius/MAZIUSREVIEW20.09-Italic.woff2)format('woff2');
    font-weight:normal;
    font-style:normal;
}

@font-face{
    font-family:"Mazius-Italic";
    src: url(../Mazius/MAZIUSREVIEW20.09-Italic.woff)format('woff'),
    url(../Mazius/MAZIUSREVIEW20.09-Italic.woff2)format('woff2');
    font-weight:italic;
    font-style:italic;
}

@font-face{
    font-family:"Mazius-Extra-Italic";
    src: url(../Mazius/MAZIUSREVIEW20.09Extraitalic.woff) format('woff'),
    url(../Mazius/MAZIUSREVIEW20.09-Extraitalic.woff2) format('woff2');
    font-weight:italic;
    font-style:italic;
}
