html{
    border:0.01em solid rgb(255, 0, 0);
    scroll-behavior: smooth;
}

body {
    background-color:#EAE7DE;
    display:flex;
    flex-direction:column;
    background-size:cover;
    background-position:fixed;
    font-family:'lay grotesk',Arial, Helvetica, sans-serif;
    font-size:12px;
    font-weight:500;
    margin:auto;
    height:auto;
}

div{
    border:0.01em solid rgb(255, 0, 0);
}

.purple{
    background-color:purple;
    overflow:hidden;
    display:block;
}

.blue{
    border:0.01em solid rgb(0, 21, 255);
}

hr {
    margin:0;
}

.text {
    color:rgb(0, 0, 0);
    position:absolute;
    z-index:20;
}

.big{
    line-height: 1.2;
    font-size: 100px;
    font-weight: 900;
    text-align: right;
    width: auto;
    height: 8vw;
}

.me {
    width:15vw;
    height:auto;
    background:gray;
}

.listCaption{
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    height:8vh;
    width:40vw;
}

ul {
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    border:0.01em solid rgb(255, 0, 0);
    padding:0;
    list-style-type:none;
    line-height: 120%;
    color:rgb(0, 0, 0);
    margin:0;
}

.caption {
    height:30%;
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap:1%;
    margin:2vh 1vw 0 1vw;
}

.colorblock {
    background-color:#EAE7DE;
}


.header {
    display:flex;
    padding: 0;
    width:98%;
    list-style-type: none;
    line-height: 120%;
    flex-direction: row;
    justify-content:space-between;
    margin:auto;
}

.myName {
    display: flex; /* Add this property to make the child divs flex items */
    text-align:right;
}

a {
    text-decoration:none;
}

.image {
    width:500px;
    height:400px;
    border-style:none;
    position:absolute;
    z-index:20;
}

.introTitle {
    display: flex;
    width: 98%;
    justify-content: space-between;
    align-items: flex-start;
    margin-top:5vh;
    font-weight:600;
    font-size:24px;
    margin:8vh auto 2vh auto;
}

.bigTitle {
    font-weight:600;
    font-size:24px;
}

.projectDisplay {
    display: flex;
    width: 98%;
    justify-content: space-between;
    align-items: flex-start;
    margin:2vh auto auto auto;
}

.thumbnail {
    width: 48vw;
    height: 60vh;
    flex-shrink: 0;
    justify-content:space-between;
    background: #D9D9D9;
}

.withoutTitle {
    margin-top:10vh;
}

.copyright {
    font-weight:600;
    font-size:20px;
    margin-top:8vh;
}

.psk{
    height:20vh;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
}
.smallThumbnail {
    width: 21rem;
    height: 60vh;
    flex-shrink: 0;
    background: #D9D9D9;
}

.aboutSkills{
    display:flex;
    flex-direction:column;
    height:5vh;
    justify-content:space-between;
}

.obsessionDisplay{
    width: 40.75rem;
    height: 20rem;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
}

.miniObject{
    display: flex;
    width: 9.25rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem
}

.miniPicture{
    width: 9.125rem;
    height: 9.75rem;
    background-color:gray;
}

.projectTitle {
    color: #000;
    font-family: "Lay Grotesk - Trial";
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin:2vh 0 2vh 0;
}

.blockOne {
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 0.375rem;
    color:#D9D9D9;
}
.block {
 width:25vw;
 gap:1%;
}

.row {
    display:inline-flex;
    flex-direction:row;
    justify-content:space-between;
}

.about {
    width: 40.75rem;
}

hr {
    background-color:#EAE7DE;
width:14.4375rem;
}

.block2 {
    height:90%;
    display:grid;
    grid-template-columns: 1fr;
    gap:1%;
    margin: 0 1vw 0 1vw;
   }

.placeimage {
    margin-top:2vh;
    background: rgb(34, 34, 34);
    height:auto;
    width:100%;
}

.footer {
    margin-top: auto;
    display: flex;
    width: 98%;
    padding: 1%;
    height: 10rem;
    background: #000;
    justify-content: space-between;
    align-items: baseline;
    margin-top: 10vh;
}

.footOptions {
    display: flex;
    width: 98%;
    justify-content: space-between;
    align-items: flex-start;
    margin:auto;
}

.smallTextDark{
    background-color:#EAE7DE;
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 1rem; /* 133.333% */
}


/* *font* */

@font-face {
    font-family: 'lay grotesk';
    src: url('layGrotesk/laygrotesk-trial-black-webfont.woff2') format('woff2'),
         url('layGrotesk/laygrotesk-trial-black-webfont.woff') format('woff');
    font-weight:900;
    font-style: normal;

}




@font-face {
    font-family: 'lay grotesk';
    src: url('layGrotesk/laygrotesk-trial-bold-webfont.woff2') format('woff2'),
         url('layGrotesk/laygrotesk-trial-bold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;

}




@font-face {
    font-family: 'lay grotesk';
    src: url('layGrotesk/laygrotesk-trial-medium-webfont.woff2') format('woff2'),
         url('layGrotesk/laygrotesk-trial-medium-webfont.woff') format('woff');
    font-weight: 500;
    font-style: normal;

}




@font-face {
    font-family: 'lay grotesk';
    src: url('layGrotesk/laygrotesk-trial-regular-webfont.woff2') format('woff2'),
         url('layGrotesk/laygrotesk-trial-regular-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;

}




@font-face {
    font-family: 'lay grotesk';
    src: url('layGrotesk/laygrotesk-trial-semibold-webfont.woff2') format('woff2'),
         url('layGrotesk/laygrotesk-trial-semibold-webfont.woff') format('woff');
    font-weight: 600;
    font-style: normal;

}




