body {
    background-color: rgb(102, 130, 255);
    animation-name: color_change;
	animation-duration: 5s;
	animation-iteration-count: infinite;
    animation-direction: alternate;
    margin:50;
}

@keyframes color_change {
    0% { background-color: rgb(45, 45, 129); }
    50% {background-color:rgb(133, 102, 255)}
	100% { background-color: rgb(102, 130, 255) }
}

.text {
    color:white;
    font-family:Arial, Helvetica, sans-serif;
}

ul {
    list-style-type:none;
    line-height: 120%;
}

a {
    text-decoration:none;
}

.image {
    width:500px;
    height:400px;
    border-style:none;
}