@font-face {
    font-family: 'Suisse Int\'l Trial';
    src: url('SuisseIntlTrial-Light.woff2') format('woff2'),
        url('SuisseIntlTrial-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Suisse Int\'l Trial';
    src: url('SuisseIntlTrial-BoldItalic.woff2') format('woff2'),
        url('SuisseIntlTrial-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Suisse Int\'l Trial';
    src: url('SuisseIntlTrial-Bold.woff2') format('woff2'),
        url('SuisseIntlTrial-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Suisse Int\'l Trial Light Ita';
    src: url('SuisseIntlTrial-LightItalic.woff2') format('woff2'),
        url('SuisseIntlTrial-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Suisse Int\'l Trial Black Ita';
    src: url('SuisseIntlTrial-BlackItalic.woff2') format('woff2'),
        url('SuisseIntlTrial-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Suisse Int\'l Trial';
    src: url('SuisseIntlTrial-Black.woff2') format('woff2'),
        url('SuisseIntlTrial-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Suisse Int\'l Trial';
    src: url('SuisseIntlTrial.woff2') format('woff2'),
        url('SuisseIntlTrial.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Suisse Int\'l Trial Book';
    src: url('SuisseIntlTrial-Book.woff2') format('woff2'),
        url('SuisseIntlTrial-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Suisse Int\'l Trial';
    src: url('SuisseIntlTrial-Italic.woff2') format('woff2'),
        url('SuisseIntlTrial-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Suisse Int\'l Trial Book';
    src: url('SuisseIntlTrial-BookItalic.woff2') format('woff2'),
        url('SuisseIntlTrial-BookItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Suisse Int\'l Trial Semi';
    src: url('SuisseIntlTrial-SemiBold.woff2') format('woff2'),
        url('SuisseIntlTrial-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Suisse Int\'l Trial Medium Ita';
    src: url('SuisseIntlTrial-MediumItalic.woff2') format('woff2'),
        url('SuisseIntlTrial-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Suisse Int\'l Trial';
    src: url('SuisseIntlTrial-Medium.woff2') format('woff2'),
        url('SuisseIntlTrial-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Suisse Int\'l Trial';
    src: url('SuisseIntlTrial-Italic.woff2') format('woff2'),
        url('SuisseIntlTrial-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Suisse Int\'l Trial';
    src: url('SuisseIntlTrial.woff2') format('woff2'),
        url('SuisseIntlTrial.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Suisse Int\'l Trial';
    src: url('SuisseIntlTrial-Thin.woff2') format('woff2'),
        url('SuisseIntlTrial-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Suisse Int\'l Trial Semi Bd Ita';
    src: url('SuisseIntlTrial-SemiBoldItalic.woff2') format('woff2'),
        url('SuisseIntlTrial-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Suisse Int\'l Trial UltraLt Ita';
    src: url('SuisseIntlTrial-UltraLightItalic.woff2') format('woff2'),
        url('SuisseIntlTrial-UltraLightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Suisse Int\'l Trial';
    src: url('SuisseIntlTrial-ThinItalic.woff2') format('woff2'),
        url('SuisseIntlTrial-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Suisse Int\'l Trial';
    src: url('SuisseIntlTrial-UltraLight.woff2') format('woff2'),
        url('SuisseIntlTrial-UltraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

