#button {
    width:10vw;
    height:4vh;
    background-color:rgb(234, 111, 104);
    box-shadow: inset 0px 0px 3vw #ff4444;
    color:white;
}

#clear {
    width:10vw;
    height:4vh;
    margin-left:1vw;
    background-color:rgb(234, 111, 104);
    box-shadow: inset 0px 0px 3vw  #ff4444;
    color:white;
}

nav {
    display: flex;
    flex-direction:row;
}

.color {
    width:3vw;
    height:4vh;
    margin-left:1vw;
}

#red {
    background-color:red;
}

#blue {
    background-color:rgb(4, 0, 255);
}

#yellow {
    background-color:rgb(255, 200, 0);
}

#counter {
    font-family:helvetica;
    font-size:2em;
    margin-left:10px;
}

#container {
    display:flex;
    margin-left:4vw;
    margin-top:6vh;
    margin-bottom:6vh;
    width: 90vw;
    height:90vh;
    background-color:rgb(211, 255, 187);
    box-shadow: inset 0px 0px 10vw #5ae37f;
    overflow:hidden;
}

.circle {
    position:relative;
    width:20px;
    height:20px;
    border-radius:50%;
    background-color:rgb(248, 211, 217);
    box-shadow: inset 0px 0px 1vw #e38181;
}

.redcircle {
    position:relative;
    width:20px;
    height:20px;
    border-radius:50%;
    background-color:rgb(83, 0, 14);
    box-shadow: inset 0px 0px .5vw #ff4747;
}

.bluecircle {
    position:relative;
    width:20px;
    height:20px;
    border-radius:50%;
    background-color:rgb(8, 0, 255);
    box-shadow: inset 0px 0px 1vw #8c81e3;
}

.yellowcircle {
    position:relative;
    width:20px;
    height:20px;
    border-radius:50%;
    background-color:rgb(255, 200, 0);
    box-shadow: inset 0px 0px 1vw #ff9500;
}

body {
    background-color:rgb(249, 255, 245);
}


