body {
    overflow-x:hidden;
}

.title {
    font-family:arial;
    font-size:7em;
}

.on {
    margin-left:1vw;
    margin-top:7vh;
}

.beginnings {
    margin-left:44vw;
}

video {
    width:48vw;
    height:auto;
    box-shadow: 2px 2px 10px black;
}

.videocontainer {
    width:100vw;
    justify-content:space-around;
    display:flex;
    flex-direction:row;
    margin-top:4vh;
    margin-bottom:4vh;
}

.text {
    font-family:arial;
    color:black;
    font-size:2em;
}

.textbox {
    margin-left:4vw;
    margin-top:5vh;
    width:90vw;
    border:black solid 3px;
    border-radius:2vw;
}

.imagecontainer {
    width:85vw;
    margin-left:2vw;
    display:flex;
    flex-direction:row;
    margin-top:10vh;
    margin-bottom:10vh;
}

a {
    text-decoration:line-through;
    font-family:arial;
    color:black;
    font-size:1em;
    font-weight:bold;
}

a:hover {
    color:white;
    text-shadow: 2px 2px 5px black;
    text-decoration:none;
}

a:hover~.text{
    color:white;
    text-shadow:2px 2px 5px black;
}


p {
    width:auto;
    margin-left:2vw;
}

.bold {
    font-weight:bold;
}

.italic {
    font-style:italic;
    font-weight:bold;
}

img {
    width:85vw;
    margin-left:7vw;
    margin-top:8vh;
}

#image1 {
    width:48vw;
    height:auto;
    margin:0;
}

#image2 {
    width:48vw;
    height:auto;
    margin:0;
}