body {
    display:flex;
    flex-direction:row;
    width:fit-content;
    margin:0;
    background-image:url("../images/graph.png");
}

  
@font-face {    
    font-family: 'resistance';
    src: url(../resistancefont/resistance_generale-webfont.woff) format('woff'),
    url(../resistancefont/resistance_generale-webfont.woff) format('woff'),;
    font-weight: normal;
    font-style: normal;
  }

.main {
    display:flex;
    flex-direction:column;
    top:0;
}

.continent {
    display:flex;
    flex-direction:row;
    width:90vw;
    justify-content:space-around;
    position:fixed;
    margin-top:2vh;
}

h1 {
    font-family:'resistance';
    font-size:3em;
    color: #1355FF;
    margin-left:2vw;
    margin-top:10vh;
    margin-bottom:0;
}

.subtitle {
    font-family:arial;
    color:white;
    font-size:1em;
    font-weight:bold;
    margin-left:2vw;
    width:35vw;
}

aside {
    width:5vw;
    height:fit-content;
    top:0;
    margin-top:0;
    right:0;
    position:fixed;
}

.square {
    width:2vw;
    height:2vw;
    justify-content:center;
    margin-top:2vh;
}

.crowd {
    margin-left:2vw;
    width:120vw;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.titleBox {
    width: 15vw;
}

.typeBox {
    width: 15vw;
    display:flex;
    flex-direction:column;
}

.description {
    font-family:arial;
    color:white;
    font-size:1em;
    text-align:center;
}

.titleBox>h2 {
    pointer-events:none;
}

.title {
    font-family:Arial, Helvetica, sans-serif;
    font-size:1em;
    text-align:center;
    color:white;
    font-weight:bold;
}

.person {
    margin:6vw;
    display:flex;
    flex-direction:column;
    opacity:100%;
    transition:.5s ease-in-out;
}

.person:hover {
    transform:scale(1.2);
}

.face {
    width:9vw;
    height:12vh;
    margin-left:3vw;
    clip-path:circle(25%);
}

.icon {
    width:25vw;
    height:auto;
}

.body {
    width:5vw;
    height:20vh;
    margin-left:5vw;
}

.mouthKey {
    background: linear-gradient(180deg, #FFAA05 0%, #FFFFFF 100%);
}

.coutureKey {
    background:linear-gradient(180deg, #FF4034 0%, #FFC01F 20%, #497CFF 40%, #8EFF59 60%, #FF59C7 80%, #C854FF 100%);
}

.characterKey {
    background-color: teal;
}

.figureKey {
    background-color: tomato;
}

.detailKey {
    background-color: thistle;
}

.patternKey {
    background-color: violet;
}

.necessityKey {
    background-color:black;
}

.statementKey {
    background-color:green;
}

.reset {
    border: yellowgreen solid 3px;
}

.frame {
    bottom:0;
    right:0;
    position:fixed;
    background-color:white;
}

.flag {
    width:5vw;
    height:5vh;
    background-color:rgb(51, 51, 255);
}

.Mouth {
    background-image:url(../bodies/mouthshadow.PNG);
    background-size: 5vw 20vh;
}

.Necessity {
    background-image:url(../bodies/necessityshadow.PNG);
    background-size: 5vw 20vh;
}

.Pattern {
    background-image:url(../bodies/patternshadow.PNG);
    background-size: 5vw 20vh;
}

.Character {
    background-image:url(../bodies/charactershadow.PNG);
    background-size: 5vw 20vh;
}

.Statement {
    background-image:url(../bodies/statementshadow.PNG);
    background-size: 5vw 20vh;
}

.Figure {
    background-image:url(../bodies/figureshadow.PNG);
    background-size: 5vw 20vh;
}

.Detail {
    background-image:url(../bodies/detailshadow.PNG);
    background-size: 5vw 20vh;
}

.Couture {
    background-image:url(../bodies/coutureshadow.PNG);
    background-size: 5vw 20vh;
}

.active {
    opacity:100%;
}

.hidden {
    opacity:0%;
}

.gone {
    display:none;
}

.zoom {
    clip-path:none;
    width:14vw;
    height:20vh;
}

.namerica {
    background-image:none;
}

.asia {
    background-image:none;
}

.modal {
    width: 100%;
    height: 100%;
    display:fixed;
    z-index:2;
    background-color:red;
}

.titleBoxTwo {
    width:20vw;
}

