body {
    background: rgb(132, 132, 255);
    background: linear-gradient(184deg, rgb(234, 132, 255) 0%, rgb(154, 166, 255) 100%);
    width:100vw; 
    background-size: cover;  
    background-repeat: no-repeat; 
}

.bar {
    display:flex;
    align-items:flex-start;
    width:99%;
    flex-direction:row;
    justify-content:space-between;
}

.text{
    font-family:haas_grotesk_normal;
    font-size:1.3em;
    text-align:center;
}

.bodytext{
    margin-left:auto;
    margin-right:auto;
    margin-bottom:10vh;
    display:block;
    color:#ebe4fe;
    width:95%;
    font-family:haas_grotesk_normal;
    line-height:5vh;
}

.cornertext {
    font-family:haas_grotesk_normal;
    font-size:1.3em;
    color:#dbcbff;
    mix-blend-mode: screen;
}

.leftcorner {
    font-family:haas_grotesk_normal;
    font-size:1.3em;
    color:#dbcbff;
    mix-blend-mode: screen;
}

@font-face {
    font-family: belldemai_thin_italic;
    src: url("../belledemai/belledemaiitalic-thin-webfont.woff");
  }

@font-face {
    font-family: belldemai_thin_normal;
    src: url("../belledemai/belledemai-thin-webfont.woff");
  }

  @font-face {
    font-family: haas_grotesk_normal;
    src: url("../neuehaas/HaasGrotTextR-55Roman.woff");
  }

  img {
    transform: rotate(270deg);
    width:45%;
    margin-left:25vw;
    margin-top:-20vh;
  }