@keyframes blur {
  0% {
    filter:blur(0);
  }

  100% {
    filter:blur(1.5em);
  }
}

@keyframes blurword {
    0% {
      filter:blur(0);
    }
  
    100% {
      filter:blur(.5em);
    }
  }

body {
    margin:0px;
    overflow:hidden;
    background-image: linear-gradient(to bottom, #2461bc, #4d74cc, #6c88dd, #889dee, #a3b2ff);
}

.grid {
    display: grid;
    width:100%;
    height:100%;
    grid-template-columns: 20% 10% 10% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
    column-gap:1vw;
}

.grid-item {
    margin:0px;
}

.grid-item:nth-child(1) {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    animation: blur 2s alternate infinite;
}

.grid-item:nth-child(2) {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 3;
    grid-column-end: 5;
    animation: blurword 4s alternate ease-in infinite;
}

.grid-item:nth-child(3) {
    grid-row-start: 4;
    grid-column-start: 3;
    grid-column-end: 5;
    animation: blurword 5s alternate ease-in infinite;
}

.grid-item:nth-child(4) {
    grid-row-start: 3;
    grid-column-end: 6;
    animation: blur 6s alternate infinite 1s;
}

.grid-item:nth-child(5) {
    grid-row-start: 1;
    grid-column-start: 6;
    z-index:2;
    animation: blur 4s alternate infinite 1s;
}

.grid-item:nth-child(6) {
    grid-row-start: 4;
    z-index:2;
    animation:blur 3s alternate infinite;
}

.flex-box {
    display:flex;
    justify-content:flex-start;
}

#glow {
    width: 30vw;
    height:40vw;
}

#neighborhood {
    width: 35vw;
    height:60vh;
}

#title {
    font-size:8vw;
    font-family:helvetica;
    color:white;
}

#street {
    width:20vw;
    height:50vh;
}

#blurr {
    width:20vw;
    height:35vh;
}

#information{
    font-size:5vh;
    text-align:right;
    color:white;
}

/* Tablet */ 
@media (max-width:1024px) {
    
    .grid-item:nth-child(4) {
        grid-row-start: 4;
        grid-column-end: 6;
        animation: blur 6s alternate infinite 1s;
    }

    .grid-item:nth-child(5) {
        grid-row-start: 3;
        grid-column-end: 5;
        z-index:2;
        animation: blur 4s alternate infinite 1s;
    }
    
    #street {
        width:20vw;
        height:40vh;
    }

    #neighborhood {
        width: 35vw;
        height:40vh;
    }


}

/* Mobile */ 
@media (max-width:768px) {

    .grid-item:nth-child(4) {
        grid-row-start: 4;
        grid-column-end: 6;
        animation: blur 6s alternate infinite 1s;
    }

    .grid-item:nth-child(5) {
        grid-row-start: 3;
        grid-column-start: 5;
        z-index:2;
        animation: blur 4s alternate infinite 1s;
    }

    #street {
        width:30vw;
        height:35vh;
    }

    #neighborhood {
        width: 35vw;
        height:40vh;
    }

    #blurr {
        width:30vw;
        height:35vh;
    }

}